.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}

.navigation-logo-cat {
  height: 1.1em;        /* высота картинки = примерно высоте текста */
  margin: 0 0.2em;      /* небольшие отступы слева/справа */
  vertical-align: middle; /* выравнивание по строке текста */
  display: inline-block;
}
